<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav 
  [mode]="(isHandsetOrTablet$ | async) ? 'over' : 'side'"
  [opened]="!(isHandsetOrTablet$ | async)">
  <lib-mz-menu [menus]="filteredMenus" (menuSelected)="onSideMenuSelected()"></lib-mz-menu>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- <div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex="25" class="sec1" fxFlex.xs="25">
    <lib-mz-menu [menus]="filteredMenus" (menuSelected)="onSideMenuSelected()"></lib-mz-menu>
  </div>
  <div fxFlex="75" class="sec1" fxFlex.xs="75">
    <router-outlet></router-outlet>
  </div>
</div> -->