$border-radius-small: 20px;
$border-radius-medium: 40px;
$border-radius-large: 50px;

$bg-color: #f9f9f9;
$white: #fff;
$disable-grey: #5f5f61;
$primary-blue: #007392;
$light-blue: #007395;
$lightest-blue: #00adf2;
$selected-color: #f1f1f1;
$grey-pin: #333F48;
$blue-pin: #59CBE8;
$orange-pin: #FF5C39;
$landing-bg: #f4f5f0;
$dark-grey: #333F48;
$inactive: #c2c2c2;
$success: #318D7E;
$bsf-yellow: #FCAF17;
$color-error: #980808;
$color-highlight: #E5F1F4;
$bg-nav-color: #F1F1F1;

/*Fonts-sizes*/
$font-bold: 500;
$large-font: 2em;
$medium-font: 1.3em;
$small-font: 0.7em;

$larger-padding: 3em;
$large-padding: 2em;
$medium-padding: 1.3em;
$small-padding: 0.7em;

/*Margins  - Paddings*/
$gap-0: 0px;
$gap-5: 5px;
$gap-10: 10px;
$gap-15: 15px;
$gap-20: 20px;
$gap-25: 25px;
$gap-30: 30px;
$gap-35: 35px;
$gap-40: 40px;
$gap-45: 45px;
$gap-50: 50px;
$gap-55: 55px;
$gap-60: 60px;
$gap-65: 65px;
$gap-70: 70px;
$gap-75: 75px;
$gap-80: 80px;
$gap-85: 85px;
$gap-90: 90px;
$gap-95: 95px;
$gap-100: 100px;
$gap-150: 150px;

